.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

main{
  padding: 20px;
}

.project {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}